.carousel-inner > .carousel-item > img {
  max-width: 360px !important;
  max-height: 360px;
  margin: auto;
  width: 60vw !important;
  height: 60vw;
}

.carousel-inner > .carousel-item > div > p {
  background-color: rgba(0, 0, 0, 0.4);
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
}

.sfondocard1 {
  background-color: #c9de8c;
  color: #244e23;
  border-color: #77ae59;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

.sfondocard2 {
  background-color: #c9de8c;
  color: #244e23;
  border-color: #77ae59;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

.sfondocard3 {
  background-color: #39813f;
  color: #f1f4dc;
  border-color: #77ae59;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
