

.App-background {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.light-mode {
  background: #f1f4dc;
  color: black;
}

.dark-mode{
  background-color: #244e23;
  color:white;
}

.header_center{
  flex-wrap: center;
  align-items: center;
}

.navbar-lightgreen{
  background-color: #77ae59;
}


/*dark mode*/
.nav1button{
  background-color: #77ae59;
  color : #c9de8c;
  border-color: #c9de8c;
}
.nav1buttonselected{
  background-color: #244e23;
  color : #f1f4dc;
  border-color: #f1f4dc;
}
.nav2button{
  background-color: #39813f;
  color : #f1f4dc;
  border-color: #f1f4dc;
}
.nav2buttonselected{
  background-color: #c9de8c;
  color : #244e23;
  border-color: #244e23;
}

/*light mode*/
.nav1buttonl{
  background-color: #77ae59;
  color : #39813f;
  border-color: #39813f;
}
.nav1buttonselectedl{
  background-color: #f1f4dc ;
  color : #244e23 ;
  border-color: #244e23 ;
}
.nav2buttonl{
  background-color: #c9de8c;
  color : #244e23;
  border-color: #244e23;
}
.nav2buttonselectedl{
  background-color: #39813f ;
  color : #f1f4dc ;
  border-color: #f1f4dc ;
}