.App-background {

  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  /*
  font-size: calc(10px + 2vmin);
  */
  font-size: medium;
}

.titlePages {
  color: #77ae59;
}



.light-mode {
  background: #f1f4dc;
  color: black;
}

.dark-mode {
  background-color: #244e23;
  color: white;
}

.header_center {
  flex-wrap: center;
  align-items: center;
}

.navbar-lightgreen {
  background-color: #77ae59;
}


.testolight {
  color: #244e23 !important;

}

.testodark {
  color: #f1f4dc !important;

}

.homePage-structure {
  display: flex;
}

.homePage-bgimg {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.social-icon {
  margin: 10px;
  cursor: pointer;
}
